:root {
    --gradient: linear-gradient(to left top, #7EA1AC, #C5C5C2, #D6A89F, #C88A84, #7A7989 90%) !important;
  }
  
  body {
    background: var(--bggradient);
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .card {
    background: rgb(255, 255, 255);
    border: 1px solid #dd2476;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn { /*uhh paayos nung btn text, too light*/
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }

  .form {
    max-width: 400px;
    /*max-height: clamp(720px, 30%, 430px);*/
    /*overflow-y: scroll;*/
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    background: #ffffff;

  }

  .input-group {
    margin: 2rem 0;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    background-color: var(--bggradient);
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: var(--bggradient);
  }